body {
  overscroll-behavior: none;
  background-size: cover;
  background-color: #000000;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Ebbe';
  src: url("./fonts/Ebbe_Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Safton';
  src: url("./fonts/safton.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.backgroundBlack{
  background: #000000;
  min-height: 100%;
  height: 100%;
  overflow: hidden;



}
.backgroundGray{
  width:100%;
  background: linear-gradient(to bottom, #000000, #1b1b1b);
  top:0;
  overflow: hidden;
  height:100%;
  z-index: -10;
}
.backgroundPuprle{
  height:auto;
  padding-top: 5%;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #000000, #3a0736);
}
.backgroundBlue{
  overflow: hidden;
  background: linear-gradient(to bottom, #000000, #07263a);
}
.navik{
  
  background-color:#111;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 20px;
  margin: 20px; /* Add space between the card and the surrounding content */
  max-width: 600px;
  width: 90%; /* Make the card responsive */
}
.bkg{
  background-color: blue;
}
.carouselka{
  margin-top: 10%;
}
.Title{
  color: white;
  font-weight: bold;
  margin-top: 10%;
  font-size: 2rem;
  font-family: "Safton";
}
.App-header {
  background-size: cover;
  background-position: center; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  font-size: calc(10px + 2vmin);
}
.rowsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  flex-wrap: wrap;
}

.centeredContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;

}

@font-face {
  font-family: 'Deter';
  src: url("./fonts/determination_monorus_by_lyajk.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
.ascii-button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-family:"Deter";
  color:rgb(42, 215, 42);
  padding: 5px;
  text-align: center;
}
.justtext {
  color:rgb(42, 215, 42);
  /* font-family: 'Consolas', 'Courier New', monospace; */
  font-size: 1.2rem;
  margin-left: 10%;
  font-family:"Deter";

  margin-right: 10%;
}
.justtext1 {
  color:rgb(240, 240, 240);
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.2rem;
  font-family: "Safton";
}
.console canvas {
  flex: 1;
  width: 100%; /* Set desired width */
  height: 50vh; /* Set desired height */
  background-color: rbga(255,255,255,0);
}
#cardbkg{
  background-color: rgba(33, 33, 33, 1);
}
.centeredText{
   margin: "0 auto";
    display: "block";
    margin-top: "5%";
}


.App-link {
  color: #61dafb;
}

.projButton{
  background-color: rgba(45,45,45,0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-family:"Safton";
}
/* .projButton:hover{
  background-color: 'rgba(255,255,255,0.5)';

} */

.tv-noise {
  position: fixed; /* Position it relative to the viewport */
  top: 0;          /* Align to the top of the viewport */
  left: 0;  
  width: 100%;
  height: 100%;
  display: block;
  /* background-color: white; */
  background: url('./assets/tv.gif') repeat;
  z-index: 1000000;
  /* display: none; */
}