@font-face {
  font-family: 'Safton';
  src: url("./fonts/safton.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Safton";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
